<div class="registrations">
   <div class="registrations-triangle"></div>
      <h2 class='registrations-header'>Member registration</h2>

      <div class="registrations-container ">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
            <p><%= f.label "プロフィール画像をアップロード" %><br><%= f.file_field :image %></p>
         
        <div class='input'>
            <p><%= f.text_field :name,placeholder:'名前'%></p> 
            <p><%= f.email_field :email, autofocus: true,placeholder:'メールアドレス'%></p> 
          
            <% if @validatable %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %>
            <p><%= f.password_field :password, autocomplete: 'off',placeholder:'パスワード', class: 'input ' %></p> 
            <p><%= f.password_field :password_confirmation, autocomplete:  'off',placeholder:"パスワード（確認）", class: 'input'%></p>
        </div>
            <%= f.submit class: 'btn btn-primary withripple', value: '新規登録 ' %>
        <% end %>
      </div>
    <%= render "devise/shared/links" %>
  </div>
</div>


