<div class="users-edit">
    <div class="users-edit-triangle"></div>
        <h2 class="users-edit-header">ユーザー情報を編集する</h2>
            <div class="users-edit-container">
                <%= form_for (@user) do |f| %>
                    <div class="input">
                        <%= f.label "プロフィール写真" %>
                        <%= f.file_field :image %><br><br>
                        
                        <%= f.label "名前" %>
                        <%= f.text_field :name, placeholder: 'name'%><br><br>
                        
                        <%= f.label "自己紹介" %>
                        <%= f.text_field :text, placeholder: 'introduction'%><br><br>
                        
                        <%= f.label 'link編集' %>
                        <%= f.text_field :link, placeholder: 'link'%><br><br>
                         
                        <%= f.submit class: 'btn btn-primary withripple', value: '編集する ' %>
                    </div>
                <% end %>
            </div>
</div>
<%= stylesheet_link_tag "users" %>
