<div class="contents row">
    
    
   <div class="user_events">
        <% @events.each do |event| %>
        <p><%= event.name%></p>
          <%= simple_format(event.text) %>
         <p><%= event.image%></p>
         <p><%= event.place%></p>
         <p><%= event.price%></p>
         <p><%= event.scedule%></p>
        <% end %>
        <%= paginate(@events) %>
    </div>
   
  
 
</div>