<div class="contents row">
    <div class="user_info">
        
    </div>
    
    
   <div class="user_events">
        <% @events.each do |event| %>
            <p>
            <%= event.name%> 
            <%= event.price%>
            <%= event.scedule%>
            </p>
          <% if user_signed_in?  %>
            <li>
                <%=link_to '編集', "/events/#{event.id}/edit", method: :get %>
            </li>
            <li>
                <%= link_to '削除', "/events/#{event.id}",method: :delete %>
            </li>
           <% end %>
        <% end %>
        <%= paginate(@events) %>
    </div>
    

   
  
 
</div>