<%= stylesheet_link_tag "users" %>
 
     
<div class="user_info">
    <span><%= image_tag @user.image.url %></span>
    <div class='user_name'><h1><%= "#{@user.name}" %></h1></div>
</div>
<div class="user_text">
    <div class="user_title"><P>Introduce</P></div>
        <h3><%= "#{@user.text}" %> </h3>
    <div class="user_title"><p>Link</p></div>
        <h5><%= "#{@user.link}" %></h5>
</div>

   
<div class="user_events">
    <div class="event-title"><p>イベント一覧</p></div>
    <div class="f-container-eventindex">
        <% @events.each do |event| %>
          <div class="events">
            <span><%= image_tag event.image.url %></span>
            <div class="name">
                <%= event.name%> 
            </div>
            <div class="price-scedule">
            <%= event.price%>
            <%= event.scedule%>
            </div>
           <%#<% if user_signed_in?  
                <li>
                    <%=link_to '編集', "/events/#{event.id}/edit", method: :get >
                </li>
                <li>
                    <= link_to '削除', "/events/#{event.id}",method: :delete >
                </li>
            < end > %>
            </div>
        <% end %>
    </div>
    <%= paginate(@events) %>
</div>
     <% if user_signed_in?  %>
        <li>
            <%=link_to 'mypage編集',"/users/#{@user.id}/edit", method: :get %>
        </li>
        <li>
            <%=link_to 'メールアドレス　パスワード変更','/users/edit', method: :get %>
        </li>
        <li>
             <%= link_to 'イベント投稿', "/events/new",method: :get%>
        </li>
     <% end %>

