<div class="content_post" style="background-image: url(<%= event.image %>);">
         <p><%= event.name%></p>
         <p><%= event.place%></p>
         <p><%= event.scedule%></p>
     <span class="name">
         <%= link_to "投稿者#{event.user.name}", user_path(event.user) %><br>
         <%= link_to '詳細',"/events/#{event.id}" %>
    </span>
</div>

