<div class="events">
         <%=link_to (image_tag event.image.url),"/events/#{event.id}"%>
         <div class="event_name">
                  <%=link_to (event.name),"/events/#{event.id}",{class: "event_name"}%>
         </div>
         <div class="event_place">
                  <%=link_to (event.place),"/events/#{event.id}",{class: "event_name"}%>
         </div>
         <div class="event_scedule">     
                  <%=link_to (event.scedule),"/events/#{event.id}",{class: "event_name"}%>
         </div>
       
  
     <div class="user_name">
         <%= link_to "投稿者#{event.user.name}", user_path(event.user) ,{class: "event_name"}%>
    </div>
</div>


