<div class="events-post-container">
 <%= form_for (@event) do |f| %>
   <%= render "events/error_message" %>
    <div class ="input" >
       <%= f.label "イベント画像" %>
       <%= f.file_field :image %><br><br>
       
       <%= f.label "イベント名" %>
       <p><%= f.text_field :name, placeholder: 'イベント名'%></p>
       
       <%= f.label "開催地" %>
       <p><%= f.text_field :place, placeholder: '開催地'%></p>
   
       <p><%= f.label "イベント詳細" %>
       <%= f.text_field :text, placeholder: '詳細'%></p>
       
       <%= f.label "イベントURL" %>
       <p><%= f.text_field :link, placeholder: 'リンク先'%></p>
       
       <%= f.label "開催日" %>
       <p><%= f.date_field_tag :scedule %></p>
       
       <%= f.label "open" %>
       <p><%= f.time_select :scedule, {}, class: 'form-control' %></p>
       
       <%= f.label "start" %>
       <p><%= f.time_select :scedule, {}, class: 'form-control' %></p>
       
       <p><%= f.submit class: "btn btn-primary withrippple", value: "投稿する" %></p>
       <%#<div class="events-tags-filed">
         <%= f.label "開催団体"
         <ul id="event-tags">
         </ul>
       </div>%>
        <%#<p><%= button_tag type: "submit", class: "btn btn--block" do >
                 投稿する<i class="icon-arrow-right"></i></p>
        <% end %>
    </div>
 <% end %>
</div>



  