<div class="events-show" >
    <%= image_tag @event.image.url %>
    <div class="information">
        <p>イベント名</p><h1><%= @event.name%></h1>
        <p>price</p><h3><%= @event.place%></h3>
        <p>place</p><h3><%= @event.price%></h3>
        <p>scedule</p><h3><%= @event.scedule%></h3>
        <p>イベント詳細</p><h3><%= @event.text %></h3>
        <p>イベントリンク</p><h3><%= @event.link %></h3>
    </div>
</div>

<div class="user_info">　              <%#ユーザー情報表示 %>
            <%= image_tag @user.image.url %>
            <h2><%= "#{@user.name}" %></h2>
            <h3><%= "#{@user.text}" %> </h3>
            <h3><%= "#{@user.link}" %></h3>
</div>
   
   <% if user_signed_in? && current_user.id == @event.user_id %>
        <li>
            <%=link_to '編集', "/events/#{@event.id}/edit", method: :get %>
        </li>
        <li>
            <%= link_to '削除', "/events/#{@event.id}",method: :delete %>
        </li>
    <% end %>
