<div class="contents row" >
        <% if user_signed_in? && current_user.id == @event.user_id %>
            <li>
              <%=link_to '編集', "/events/#{@event.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/events/#{@event.id}",method: :delete %>
            </li>
        <% end %>
             <%= image_tag @event.image.url %>
        <p>
            <%= @event.name%> 
            <%= @event.place%>
            <%= @event.text %>
            <%= @event.price%>
            <%= @event.scedule%>
            <%= @event.link %>
        </p>
            

</div>